* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
}


#bed {
    width: 100%;
    height: 100%;
    margin-left: 0 auto;
}

#info {
    text-align: center;
    left: 0;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 20%;
    width: 100%;
}

#amex-left {
    left: 20px;
}

#amex-right {
    right: 20px;
}

.amex {
    position: absolute;
    top: 20px;

    z-index: 9999;
    width: 20vw;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.amex:hover {
    width: 250px;
}

@keyframes spin {
    0% {
        transform:rotate(0deg);
        margin-top: 0;
    }
    100% {
        transform:rotate(360deg);
        margin-top: 100%;
}
#signup {

}

